<a href="https://colab.research.google.com/github/410600919/introduction-to-computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print (list(i))

[0, 1, 2, 3, 4]

In [ ]:
a = range(3,8)
print (list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2,4)
print (list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
d = range(3,8,2)
print (list(d))

[3, 5, 7]

In [ ]:
e = range(8,3,-1)
print (list(e))

[8, 7, 6, 5, 4]

In [23]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
g = range (1,10)
print (list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h = range (1,10,2)
print (list(h))

[1, 3, 5, 7, 9]

In [25]:
I = range(10,1,-2)
print (list(I))

[10, 8, 6, 4, 2]

In [26]:
for n in range (3):
    print (n)

0
1
2

In [27]:
for n in range (10):
    print (n, end = ",")

0,1,2,3,4,5,6,7,8,9,

In [33]:
for n in range (0,10,2):
    print (n,end = ",")

0,2,4,6,8,

In [36]:
test = int(input("請輸入一個正整數:"))
for m in range (1,test+1):
 print(m,end = " ")

請輸入一個正整數:12
1 2 3 4 5 6 7 8 9 10 11 12

In [37]:
sum = 0
for n in range (3):
   sum = sum+n
print (sum)

3

In [39]:
sum = 0
for n in range (10,1,-2):
 sum = sum+n
print (sum)

30

In [47]:

n = int(input ("請輸入一個正整數:"))
sum = 0
for n in range (n,0,-1):
 sum = sum+n
print (sum)

請輸入一個正整數:10
55

In [48]:
n = int(input ("請輸入正整數:"))
sum = 0
for n in range (n,0,-1):
 sum = sum+n
print(sum)

請輸入正整數:50
1275