<a href="https://colab.research.google.com/github/410600919/introduction-to-computers/blob/main/0530.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("0530")

0530

九九乘法

In [ ]:

for i in range (2,10):
    for j in range (1,10):
        product = i*j
        print("%d*%d=%2d" % (i, j, product),end="")
    print ()

2*1= 22*2= 42*3= 62*4= 82*5=102*6=122*7=142*8=162*9=18
3*1= 33*2= 63*3= 93*4=123*5=153*6=183*7=213*8=243*9=27
4*1= 44*2= 84*3=124*4=164*5=204*6=244*7=284*8=324*9=36
5*1= 55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=45
6*1= 66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=54
7*1= 77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=63
8*1= 88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=72
9*1= 99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

最小公倍數

In [ ]:
a = int(input ("請輸入a的值"))
b = int(input ("請輸入b的值"))

maxno = a * b
for i in range (1,maxno+1):
    if(i % a == 0 and i % b == 0):
       break
print ("%d和 %d的最小公倍數 = %d" %(a, b, i))

請輸入a的值4
請輸入b的值5
4和 5的最小公倍數 = 20

排除數列中5的倍數

In [ ]:
n = int(input (":"))
for i in range (1,n+1):
    if i % 5 == 0:
        continue
    print (i,end=" ")

:21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21

while

In [ ]:
total= n = 0
while(n<= 10):
    total += n
    n += 1
print(total)

55

In [ ]:
total= n = 0
while n<= 10:
    total += n
    n += 1
print(total)

55

In [ ]:
total = i = 1
n = int(input("請輸入正整數的值:" ))
while i <= n:
    total *= i
    i += 1
print("%d!=%d" % (n, total))

請輸入正整數的值:5
5!=120

In [ ]:
sum = 0
for i in range (0,51):
    if i % 2 == 0:
        sum = sum + i
    i += 1
print(f"0~50的偶數和結果是{sum}" )

0~50的偶數和結果是650

In [ ]:
sum = 0
for i in range (0,51):
    if i % 2 != 0:
        sum = sum + i
    i += 1
print(f"0~50的奇數和結果是{sum}")

0~50的奇數和結果是625

In [1]:
n=int(input("請輸入正整數:"))
for i in range(n,0,-1):
  print("*"*i)

請輸入正整數:7
*******
******
*****
****
***
**
*

In [6]:
n=int(input("請輸入正整數:"))
sum=0
for i in range(0,n+1):
  if i%3!=0 and i%7!=0:
    continue
  sum=sum+i
print("數值1~%d中,所有是3或7的倍數總之和=%d"%(n,sum))

請輸入正整數:100
數值1~100中,所有是3或7的倍數總之和=2208