<a href="https://colab.research.google.com/github/410600919/introduction-to-computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 0
result = 0
while i <= 50:
    if i % 2 != 0:
        result += i
    i+=1
print ("0~50的奇數和結果是%d" % result)

0~50的奇數和結果是625

In [ ]:
i = 0
result = 0
while i <= 50:
    if i % 2 == 0:
        result += i
    i+=1
print ("0~50的偶數和結果是%d" % result)

0~50的偶數和結果是650

In [ ]:
n = int(input ("請輸入正整數:"))
for i in range (1,n+1):
  for j in range(i, n+1):
     print ("*",end=" ")
  print ()

請輸入正整數:10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
sum = 0
for i in range (0,101):
    if (i%3==0 or i%7==0):
        sum += i
print ("數值1~100中，所有是3或7倍數的數之總合 =", sum)

數值1~100中，所有是3或7倍數的數之總合 = 2208

In [ ]:
p=1
counter=0
n = int(input ("請輸入正整數:"))
print (n, "的因數有",end=" ")
while (p<=n):
  if (n%p==0):
    print (p, end=" ")
    counter+=1
  p+=1
print()
if (counter==2):
  print("是質數")
if (counter==1):
  print(n,"是偶數")

請輸入正整數:10
10 的因數有 1 2 5 10

In [ ]:
list1=[1,2,3,4,5]

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
list2=["香蕉","蘋果","橘子"]

In [ ]:
list2

['香蕉', '蘋果', '橘子']

In [ ]:
list3=[1,"香蕉",True]

In [ ]:
list3

[1, '香蕉', True]

In [9]:
list4=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [10]:
print(list4[1])

['mary', 'abcd']

In [11]:
print(list4[0])

[['tom', '1234']]

In [12]:
print(list4[1][0])

mary

In [13]:
print(list4[1][1])

abcd

In [14]:
scores = [85,79,93]
print ("國文成績:%d分" % scores[0])
print ("數學成績:%d分" % scores[1])
print ("英文成績:%d分" % scores[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [15]:
list5=[1,2,3,4,5]

In [17]:
print(list5[0])

1

In [18]:
list5[0]=9

In [19]:
print(list5)

[9, 2, 3, 4, 5]

In [20]:
list7 = ["香蕉","椰子","橘子"]

In [21]:
for s in list7:
    print (s, end=",")

香蕉,椰子,橘子,

In [23]:
items = [123,"apple",True]
for item in items:
   print (item)

123
apple
True

In [25]:
scores=[85,79,93]
for i in range(len(scores)):
   print (scores[i])

85
79
93

In [26]:
name=["編號:1 姓名:Hank","編號:2 姓名:Mary","編號:3 姓名:Tony"]

In [27]:
print (len (name))

3

In [28]:
name=["編號:1 姓名:Hank","編號:2 姓名:Mary","編號:3 姓名:Tony"]
for i in range (len (name)):
   print (name[i])

編號:1 姓名:Hank
編號:2 姓名:Mary
編號:3 姓名:Tony